/* Start of default tag settings */

body { /* The body and background settings: */
    background-image: url('../images/htmlwebsitecover.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
} /* The body and background settings: */
p { /* Paragraph settings */
    margin-left: 2%;
    margin-right: 2%;
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    word-spacing: 0.05vw;
} /* Paragraph settings */
img { /* Image Settings */
    width: 90%;
    border: grey solid 0.15vw;
    transition: all 0.5s ease 0.05s;
} /* Image Settings */
img:hover { /* Image settings for when the mouse is hovering over it */
    transform: scale(1.25);
    z-index: 2;
    transition: all 0.5s ease 0.05s;
} /* Image settings for when the mouse is hovering over it */
caption { /* Tutorial page table caption settings */
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8em;
} /* Tutorial page table caption settings */
/* End of default tag settings */
/* The website's navigation & button settings */
.Nav-Bar {
    color: white;
    text-align: right;
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    margin-right: 8mm;
    position: fixed;
    left: 65%;
    top: 0%;
}
@media only screen and (max-width: 751px) {
    .Nav-Bar {
        position: fixed;
        left: 60%;
    }
}
.Nav-Bar a {
    color: white;
    font-weight: normal;
    padding: 0.25em;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    border: white solid 0.1em;
    text-decoration: none;
    transition: all 0.4s ease 0s;
}
.Nav-Bar a:hover {
    color: rgb(255, 0, 0);
    font-weight: 1000;
    border-color: red;
    letter-spacing: 0.1vw;;
    transition: all 0.4s ease 0s;
}
.Nav-Bar li {
    display: inline-block;
}
/* Start of button settings */
#Left-Buttons {
    position: fixed;
    left: 59%;
    top: 30vh;
}
#Left-Buttons li {
    display: block;
    margin-bottom: 30%;
}
.All-Buttons-Left {
    font-family: 'Montserrat', sans-serif;
    font-size: 2vw;
    color: white;
    text-align: center;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    font-weight: normal;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    border: white solid 0.25vw;
    text-decoration: none;
    transition: all 0.4s ease 0s;
}
.All-Buttons-Left ul {
    list-style-type: none;
}
.All-Buttons-Left:hover {
    color: rgba(255, 0, 0, 1);
    font-weight: 1000;
    border-color: rgba(255, 0, 0, 1);
    letter-spacing: 0.05vw;;
    transition: all 0.4s ease 0s;
}
#Separator-2 {
    color: white;
    border-left: white solid 2px;
    height: 25vh;
    width: 0vw;
    position: fixed;
    top: 28vh;
    left: 80vw;
}
#Right-Buttons {
    position: fixed;
    left: 77%;
    top: 30vh;
}
#Right-Buttons li {
    display: block;
    margin-bottom: 28%;
}
.All-Buttons-Right {
    font-family: 'Montserrat', sans-serif;
    font-size: 2vw;
    color: white;
    text-align: center;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    font-weight: normal;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    border: white solid 0.25vw;
    text-decoration: none;
    transition: all 0.4s ease 0s;
}
.All-Buttons-Right ul {
    list-style-type: none;
}
.All-Buttons-Right:hover {
    color: rgb(255, 0, 0);
    font-weight: 1000;
    border-color: red;
    letter-spacing: 0.05vw;;
    transition: all 0.4s ease 0s;
}
#Tip-Buttons {
    position: fixed;
    left: 58%;
    top: 28vh;
}
#Tip-Buttons li {
    display: inline-block;
    margin-bottom: 8%;
}
.All-Tip-Buttons {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8em;
    color: white;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    font-weight: normal;
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    border: white solid 0.1vw;
    text-decoration: none;
    transition: all 0.4s ease 0s;
}
.All-Tip-Buttons:hover {
    color: rgb(255, 0, 0);
    font-weight: 1000;
    border-color: red;
    letter-spacing: 0.05vw;
    transition: all 0.4s ease 0s;
}
#LJ-Button {
    background-color: rgba(71, 71, 71, 0.75);
    border: 0.15em solid rgba(255, 208, 0, 1);
    border-radius: 20px;
    padding: 0.8em 0.5em 0.8em 0.5em;
}
#Tutorial-Button {
    background-color: rgba(71, 71, 71, 0.75);
    border: 0.2em solid rgba(120, 52, 231);
    border-radius: 20px;
    padding: 0.8em 0.5em 0.8em 0.5em;
}
#Contact-Button {
    background-color: rgba(71, 71, 71, 0.75);
    border: 0.2em solid rgba(17, 255, 17, 1);
    border-radius: 20px;
    padding: 0.8em 0.5em 0.8em 0.5em;
}
/* The website's navigation & button settings */
/* Contact page form settings */
#group1 {
    width: 155%;
    position: relative;
    left: 148%;
}
.Gen-Text-Fields {
    width: 60%;
    height: 2vh;
    margin-top: 2mm;
    margin-bottom: 2mm;
}
.Radio-Inline {
    display: inline-block;
}
#group2 {
    width: 170%;
    position: relative;
    left: 140%;
    margin-bottom: 8mm;
}
#Submit-Button {
    background-color: black;
    color: rgba(17, 255, 17, 1);
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 1em;
    margin-left: 78%;
    margin-top: 1vh;
}
/* Contact page form settings */
/* Rule-sets for the 3 pages' content */
.All-LJ-Weeks {
    color:white;
    margin-right: 40%;
    position: static;
    font-weight: normal;
    background-color: rgba(0, 0, 0, 0.75);
    border: 5px ridge rgba(255, 208, 0, 1);
}
.All-Tutorial-Weeks {
    color:white;
    margin-right: 40%;
    margin-top: -0.3vw;
    font-weight: normal;
    background-color: rgba(0, 0, 0, 0.75);
    border: 5px ridge rgba(120, 52, 231);
}
.Contact-Form-Layout {
    color:white;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: -1.45%;
    font-weight: normal;
    background-color: rgba(0, 0, 0, 0.75);
    border: 5px ridge rgba(17, 255, 17, 1);
}
.Contact-Details-Layout {
    color:white;
    text-align: center;
    float: right;
    margin-left: 80.8%;
    margin-right: 4%;
    margin-top: -5.6%;
    padding-left: 1%;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(71, 71, 71, 0.75);
    border: 0.4vw ridge rgba(255, 255, 255, 1);
    position: fixed;
}
/* Rule-sets for the 3 pages' content */
/* Rules for all titles and sub-titles */
.All-Titles {
    font-family: 'Quicksand', sans-serif;
    font-size: 2.75em;
    color:white;
    margin-bottom: 5%;
    font-weight: bold;
}
.All-Sub-Titles {
    font-family: 'Quicksand', sans-serif;
    color:rgb(130, 255, 147);
    text-align: center;
    font-weight: bold;
    background-color: rgba(71, 71, 71, 0.75);
    font-size: 1em;
}
/* Rules for all titles and sub-titles */
/* Start of Learning Journal text formats */
#LJ-Title {
    text-decoration: underline overline rgb(255, 208, 0);
}
#LJ-Sub-Title {
    border: 3px solid rgba(255, 208, 0, 1);
    margin-right: 70vw;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin-top: 2cm;
}
@media only screen and (max-width: 691px) {
    #LJ-Sub-Title {
        border: 3px solid rgba(255, 208, 0, 1);
        margin-right: 65vw;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
    }
}
.LJ-WK1 {
    margin-top: -4mm;
}
.All-Weeks {
    color: white;
    text-align: center;
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    word-spacing: 0.2vw;
}
.All-Weekly-Headers {
    margin-left: 2%;
    text-decoration: underline;
    font-size: 1.1em;
    font-family: 'Montserrat', sans-serif;
}
.All-Publish-Dates {
    color: white;
    text-align: right;
    margin-right: 2%;
    font-size: 0.8vw;
}
.All-Weeks-Positioning {
    margin-top: -0.3%;
}
.All-Content-Lists {
    list-style: square;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 0.85em;
}
.All-Content-Lists li {
    padding-bottom: 0.5%;
}
#Code-Layout-SS {
    margin-left: 3%;
    margin-top: 3%;
    width: 10cm;
}
#P4 {
    float: left;
    margin-bottom: 2%;
}
#P6 {
    margin-top: -1%;
    margin-right: 2%;
}
#HTML-Layout-Diagram {
    width: 4cm;
    margin-top: -50%;
    margin-top: 2mm;
    margin-left: 30%;
}
#P7 {
    margin-bottom: 2%;
}
#Separator {
    border-top: white solid 1px;
    width: 49vw;
    position: relative;
    left: 6%;
}
#HTML-Subtitle {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 0.8em;
    position: relative;
    left: 10%;
    top: 2mm;
}
#CSS-Subtitle {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 0.8em;
    position: relative;
    left: 10%;
    top: 2.8cm;
}
#Para-Image-Source-SS {
    width: 80%;
    position: relative;
    bottom: 5mm;
    left: 8%;
}
#Para-Image-Styles {
    width: 30%;
    position: relative;
    top: 5mm;
    left: 25%;
    margin-bottom: 1cm;
}
#P10 {
    position: relative;
    top: 20%;
}
#Cascade-Spec-SS {
    width: 7cm;
    margin-left: 3%;
}
#CSS-Box-Model-SS {
    margin-left: 10%;
    width: 80%;
}
.Content-Rel-Links {
    color: aqua;
}
#HTML-Subtitle-2 {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 1.1em;
    position: relative;
    left: 2%;
    top: 2mm;
}
#CSS-Subtitle-2 {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 1.1em;
    position: relative;
    left: 2%;
    top: 2mm;
}
#Separator-3 {
    border-top: white solid 1px;
    width: 50vw;
    position: relative;
    left: 7%;
    margin-top: 8mm;
}
#HTML-MQ-SS {
    position: relative;
    margin-left: 4%;
    margin-top: 2mm;
    transition: all 0.5s ease 0.05s;
}
#CSS-MQ-SS {
    position: relative;
    margin-left: 4%;
    margin-top: 2mm;
    transition: all 0.5s ease 0.05s;
}
.Flex-Media-Sub {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 1.1em;
    margin-left: 2%;
}
#Flexible-Media-Pic-1 {
    width: 60%;
    position: relative;
    margin-left: 4%;
    margin-top: 2mm;
    transition: all 0.5s ease 0.05s;
}
#Flexible-Media-Pic-2 {
    width: 60%;
    position: relative;
    margin-left: 4%;
    margin-top: 2mm;
    transition: all 0.5s ease 0.05s;
}
.Website-View-Subtitle {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 1.1em;
    text-align: center;
}
#px1920 {
    width: 75%;
    margin-left: 12.5%;
}
#px768 {
    width: 40%;
    margin-left: 30%;
}
#px375 {
    width: 20%;
    margin-left: 40%;
}
#Input-Types {
    margin-left: 5%;
    border: none;
}
#Radio-Button-Example {
    margin-left: 5%;
}
#General-Text-Fields-Class-SS {
    margin-left: 5%;
}
/* End of Learning Journal text formats */
#Title {
    text-decoration: underline overline rgba(120, 52, 231);
}
#Sub-Title {
    border: 3px solid rgba(120, 52, 231);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin-right: 70%;
    margin-top: 6.5vh;
    position: relative;
    margin-bottom: -0.25vh;
}
#Key{
    color: white;
    position: relative;
    left: 5%;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
}
#Timetable-Key {
    position: relative;
    right: 4%;
    list-style-type: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
}
.Timetable {
    border-collapse: collapse;
    margin: 25px 0;
    margin-left: 2%;
    font-size: 0.7em;
    max-width: 350px;
    position: relative;
}
#Bottom-Row {
    border-bottom: 1px solid white;
}
.Last-Column-Right-Line {
    border-right: 1px solid white;
}
#Timetable-Caption {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8em;
}
.Timetable thead tr {
    background-color: rgba(0, 152, 121, 0.5);
    text-align: center;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}
.Timetable td {
    padding: 5px 7px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
@media only screen and (max-width: 900px) {
    .Timetable {
        font-size: 0.6em;
    }
}
@media only screen and (max-width: 800px) {
    .Timetable {
        font-size: 0.5em;
    }
}
@media only screen and (max-width: 800px) {
    .Timetable {
        font-size: 0.4em;
    }
}
.Column-Style {
    background-color:rgba(94, 94, 94, 0.5);
    border-left: 1px solid white;
    border-right: 1px solid white;
}
#Seminar {
    background-color: rgba(255, 0, 0, 0.5);
}
#Tutorial {
    background-color: rgba(255, 255, 0, 0.5);
}
.All-Lectures {
    background-color: rgba(0, 0, 255, 0.5);
}
#Contact-Title {
    text-decoration: underline overline rgba(17, 255, 17, 1);
}
#Contact-Sub-Title {
    border: 0.3vw solid rgba(17, 255, 17, 1);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin-left: 20%;
    margin-right: 66%;
    margin-top: -5.6%;
}
#Contact-Content {
    color:white;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    font-weight: normal;
    background-color: black;
    border: 0.4vw ridge rgba(17, 255, 17, 1);
}
.Container-Styles {
    background-color: rgba(71, 71, 71, 0.75);
    padding-bottom: 2%;
    border: 5px ridge rgba(255, 255, 255, 1);  
}
.Left-Container {
    position: fixed;
    bottom: 5vh;
    left: 62%;
    margin-right: 2.5%;
}
#Weekly-Navigation {
    color: white;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.25em;
    position: fixed;
    left: 69%;
}
#WKS1-5 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9em;
    position: fixed;
    top: 22vh;
    left: 63.5%;
    margin-top: 8mm;
    margin-right: -1cm;
    right: 30%;
    word-spacing: 0.3vw;
}
#WKS6-10 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9em;
    position: fixed;
    top: 22vh;
    left: 81%;
    margin-top: 8mm;
    word-spacing: 0.3vw;
}
@media only screen and (max-width: 731px) {
    #WKS1-5 {
        position: fixed;
        left: 66%;
        margin-right: -10%;
    }
    #WKS6-10 {
        position: fixed;
        left: 83%;
    }
}
#Tips-Navigation {
    color: white;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.35vw;
}
.Right-Container {
    position: fixed;
    top: 19.9vh;
    left: 62%;
    padding-bottom: 32vh;
    padding-right: 30%;
}
.Right-Container ul {
    list-style-type: none;
}
#Details-Container {
    float: right;
    margin-left: 80.8%;
    margin-top: -0.2%;
    padding-right: 1%;
    padding-left: 1%;
}
.References {
    color: white;
    text-align: center;
    font-size: 1.25em;
    font-family: 'Quicksand', sans-serif;
    position: static;
}
#MDN-Site-Reference {
    margin-bottom: 2%;
    margin-left: 2%;
}
#W3s-Site-Reference {
    background-color: black;
    margin-bottom: -2%;
    margin-left: 2%;
}
#SOF-Site-Reference {
    background-color: rgb(94, 94, 94);
    margin-top: 4%;
    margin-left: 2%;
}
#FVM-Site-Reference {
    margin-top: 6%;
    margin-left: 2%;
}
.Footer {
    color: white;
    text-align: right;
    position: relative;
}
#Contact-Footer {
    color: white;
    text-align: right;
    position: relative;
    margin-top: 30%;
}
